* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  background-color: #ccc;
  width: 500px;
  margin: 20px auto 0;
  padding: 10px;
}

.content {
  background-color: #111;
  width: 100px;
  height: 100px;
  margin: 15px;
  color: white;

  display: inline-block;
}

.sumir {
  display: none;
  /* visibility: hidden; */
}