@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-navy-850: hsl(217, 28%, 15%);
  --color-navy-900: hsl(218, 28%, 13%);
  --color-navy-950: hsl(216, 53%, 9%);
  --color-navy-800: hsl(219, 30%, 18%);

  --color-teal-200: hsl(176, 68%, 64%);
  --color-cyan-500: hsl(198, 60%, 50%);
  --color-red-500: hsl(0, 100%, 63%);

  --color-white: hsl(0, 0%, 100%);
  --color-gray-200: hsl(220, 13%, 91%);
}

html {
  font-size: 14px;
}

body {
  background-color: var(--color-navy-800);
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: clamp(2rem, 5vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

p,
a {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: var(--color-gray-200);
  line-height: 1.6;
}

button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: var(--color-white);
}