@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-navy-850: hsl(217, 28%, 15%);
  --color-navy-900: hsl(218, 28%, 13%);
  --color-navy-950: hsl(216, 53%, 9%);
  --color-navy-800: hsl(219, 30%, 18%);

  --color-teal-200: hsl(176, 68%, 64%);
  --color-cyan-500: hsl(198, 60%, 50%);
  --color-red-500: hsl(0, 100%, 63%);

  --color-white: hsl(0, 0%, 100%);
  --color-gray-200: hsl(220, 13%, 91%);
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-navy-800);
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: clamp(2rem, 5vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

p,
a {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: var(--color-gray-200);
  line-height: 1.6;
}

button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: var(--color-white);
}

section {
  min-height: calc(100vh - 71px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 71px;
  padding: 3rem 1rem;
}

section:nth-child(even) {
  background-color: var(--color-navy-850);
}

.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-navy-800);
}

.header__logo {
  width: 100px;
}

.header__button {
  font-size: 1.5rem;
}

.intro-section {
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
}

.intro-section__image {
  margin-bottom: 3rem;
  max-width: 45rem;
}

.intro-section__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn-primary {
  padding: 1rem 1.5rem;
  background: linear-gradient(
    to right,
    var(--color-teal-200),
    var(--color-cyan-500)
  );
  border-radius: 2rem;
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s ease;
}

.btn-primary:hover {
  background-position: right;
}

.intro-section__content button {
  align-self: center;
  width: 60%;
  max-width: 250px;
}

.intro-section__content a {
  text-decoration: none;
  color: inherit;
}

.features-section {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  text-align: center;
  background-color: var(--color-navy-850);
}

.features-section__row {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  max-width: 70rem;
  margin: 0 auto;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  max-width: 35rem;
}

.testimonials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 6rem 4rem;
}

.testimonial {
  background-color: var(--color-navy-850);
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 40rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease;
}

.testimonial:hover {
  transform: scale(1.05);
}

.testimonial__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial__image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-white);
}

.testimonial__info h3 {
  margin-bottom: 0.5rem;
}

.testimonial__info span {
  font-size: 0.9rem;
  color: var(--color-gray-200);
}

.early-access {
  background-color: var(--color-navy-850);
  display: flex;
  justify-content: center;
  align-items: center;
}

.early-access__card {
  background-color: var(--color-navy-900);
  padding: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  max-width: 52rem;
  margin: 0 auto;
}

.early-access__card form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.early-access__form input[type="email"] {
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  width: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.early-access__form input[type="email"]:focus {
  outline: none;
  border-color: var(--color-teal-200);
}

.footer {
  background-color: var(--color-navy-950);
  padding: 6rem 3rem;
}

.footer__logo {
  width: 100px;
  margin-bottom: 2rem;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.footer__info--location {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.footer__info--location div {
  width: 50px;
}

.footer__info--contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__contact {
  display: flex;
  gap: 1rem;
}

.footer__info--links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__info--links a {
  text-decoration: none;
}

.footer__info--links a:hover {
  text-decoration: underline;
}

.header__nav {
  display: none;
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: var(--color-navy-900);
  transition: transform 0.3s;
  z-index: 20;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
}

.nav-mobile a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-mobile.hidden {
  transform: translate(100%);
}

.nav-mobile.show {
  transform: translate(0);
}

.close-menu {
  background: none;
  border: none;
  color: var(--color-red-500);
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}


@media (min-width: 768px) {
  .intro-section__content p {
    padding: 0 10%;
  }

  .early-access__card form {
    flex-direction: row;
  }

  .early-access__form input[type="email"] {
    flex: 1;
  }

  .early-access__form button {
    width: auto;
  }
}

@media (min-width: 1024px) {
  .features-section__row {
    flex-direction: row;
  }

  .testimonials-section {
    flex-direction: row;
  }

  .footer__info {
    flex-direction: row;
    text-align: center;
  }

  .footer__info > div {
    flex: 1;
  }

  .footer__info--contact {
    align-items: center;
  }

  .header__nav {
    display: flex;
    gap: 3rem;
  }

  .header__nav a {
    text-decoration: none;
  }

  .header__button {
    display: none;
  }

  .nav-mobile {
    display: none;
  }
}