@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(178, 100%, 50%);
  --color-text: hsl(215, 51%, 70%);
  --color-bg: hsl(216, 50%, 16%);
  --color-bg-dark: hsl(217, 54%, 11%);
  --color-border: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}