@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(178, 100%, 50%);
  --color-text: hsl(215, 51%, 70%);
  --color-bg: hsl(216, 50%, 16%);
  --color-bg-dark: hsl(217, 54%, 11%);
  --color-border: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

html {
  font-size: 16px;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-bg-dark);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.nft-card {
  background-color: var(--color-bg);
  border-radius: 1rem;
  padding: 1.5rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.nft-card:hover {
  transform: translateY(-4px);
}

.nft-card__image {
  position: relative;
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
}

.nft-card__image img {
  width: 100%;
  display: block;
}

.nft-card__image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.3);
  opacity: 0;
  transition: opacity 0.3s;
}

.nft-card__image:hover::after {
  opacity: 1;
}

.nft-card__title {
  font-size: 1.4rem;
  font-weight: 600;
}

.nft-card__description {
  color: var(--color-text);
  font-weight: 300;
}

.nft-card__details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1.5rem;
}

.nft-card__price,
.nft-card__time {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: 500;
}

.nft-card__price {
  color: var(--color-primary);
}

.nft-card__time {
  color: var(--color-text);
}

.nft-card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-text);
}

.nft-card__author-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--color-white);
}

.nft-card__author-avatar img {
  width: 100%;
  display: block;
}

.nft-card__author-name {
  color: var(--color-white);
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}