* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --stone-50: #faf7f5;
  --stone-100: #f3e5d8; 
  --stone-150: #eae1da; 
  --stone-600: #716d67;
  --stone-900: #2a2624; 
  --brown-800: #854632; 
  --rose-800: #7b284f; 
  --rose-50: #fff5fa;  
}

html {
  font-size: 16px;
}

body {
  background-color: var(--stone-100);
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2 {
  font-family: "Young Serif", serif;
}

main {
  background-color: white;
  max-width: 768px;
  margin: 0 auto;
}

.recipe-details {
  padding: 32px;
}

.recipe-name {
  margin-bottom: 32px;
  color: var(--stone-900);
  font-size: 2.25rem;
}

.recipe-description {
  margin-bottom: 32px;
  font-size: 1.125rem;
  color: var(--stone-600);
  line-height: 1.6;
}

.recipe-preparation {
  background-color: var(--rose-50);
  padding: 32px;
  border-radius: 1rem;
  margin-bottom: 32px;
}

.recipe-preparation h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--rose-800);
  margin-bottom: 20px;
}

.recipe-preparation ul {
  /* list-style-position: inside; */
  padding-left: 20px;
  color: var(--stone-600)
}

.recipe-preparation li {
  padding-left: 12px;
}

.recipe-preparation li:not(:last-child) {
  margin-bottom: 12px;
}

.recipe-preparation li::marker {
  color: var(--rose-800);
}

.recipe-ingredients {
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.recipe-ingredients h2 {
  font-size: 1.875rem;
  color: var(--brown-800);
  margin-bottom: 20px;
  font-weight: normal;
}

.recipe-ingredients ul {
  padding-left: 20px;
  color: var(--stone-600);
  font-size: 1.125rem;
}

.recipe-ingredients li {
  padding-left: 12px;
}

.recipe-ingredients li:not(:last-child) {
  margin-bottom: 12px;
}

.recipe-ingredients li::marker {
  color: var(--brown-800);
}

.recipe-instructions {
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: 32px;
  margin-bottom: 32px;
  font-size: 1.125rem;
}

.recipe-instructions h2 {
  font-size: 1.875rem;
  color: var(--brown-800);
  margin-bottom: 20px;
  font-weight: normal;
}

.recipe-instructions ol {
  padding-left: 20px;
  color: var(--stone-600);
}

.recipe-instructions li {
  padding-left: 12px;
  line-height: 1.5;
}

.recipe-instructions li::marker {
  font-weight: bold;
  color: var(--brown-800);
}

.recipe-instructions li:not(:last-child) {
  margin-bottom: 12px;
}

.recipe-nutrition h2 {
  font-size: 1.875rem;
  color: var(--brown-800);
  margin-bottom: 20px;
  font-weight: normal;
}

.recipe-nutrition p{
  color: var(--stone-600);
  line-height: 1.6;
}

.container-table {
  width: 100%;
  margin: 20px 0;
  overflow-x: auto;
}

.recipe-nutrition table {
  border-collapse: collapse;
  min-width: 700px;
  text-align: center;
}

.recipe-nutrition table caption {         
  text-align: center;           
  font-size: 1.25rem;          
  font-weight: normal;           
  color: var(--stone-900);       
  margin-bottom: 12px;   
  font-family: "Young Serif", serif; 
}

.recipe-nutrition th {
  background-color: var(--stone-100);
  color: var(--stone-900);
}

.recipe-nutrition th, 
.recipe-nutrition td {
  border: 1px solid var(--stone-150);
  padding: 10px 14px;
}

.recipe-nutrition th {
  color: var(--stone-900);
}

.recipe-nutrition tbody tr:nth-child(even) {
  background-color: var(--stone-50);
}

.recipe-nutrition table strong {
  color: var(--brown-800)
}

@media (min-width: 768px) {
  body {
    padding: 60px 0;
  }

  main {
    border-radius: 0.75rem;
  }

  .recipe-image {
    padding: 32px 32px 0 32px;
  }

  .recipe-image img {
    border-radius: 0.75rem;
  }
}
