@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);
  --white-transparent: hsla(0, 0%, 100%, 0.75);
  --gray-100: hsl(0, 0%, 95%);
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: var(--white-transparent);
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
}

.cars {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
}

.cars__card {
  padding: 4rem 3rem;
  color: var(--gray-100);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cars__image {
  width: 4rem;
  height: 2.5rem;
}

.cars__image img {
  width: 100%;
  display: block;
}

.cars__card--sedan {
  background-color: var(--gold-500);
}

.cars__card--suv {
  background-color: var(--cyan-800);
}

.cars__card--luxury {
  background-color: var(--green-950);
}

.cars__title {
  font-family: "Big Shoulders", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
}

.cars__text {
  color: var(--white-transparent);
  line-height: 1.8;
}

.cars__button {
  font-family: inherit;
  padding: .8rem 2.5rem;
  border: none;
  cursor: pointer;
  border-radius: 4rem;
  font-weight: 500;
  align-self: flex-start;
  border: 2px solid var(--white-transparent);
  transition: background-color 0.3s;
}

.cars__button:hover {
  background-color: transparent;
  color: var(--white-transparent);
}

.cars__button--sedan {
  color: var(--gold-500);
}

.cars__button--suv {
  color: var(--cyan-800);
}

.cars__button--luxury {
  color: var(--green-950);
}

@media (min-width: 768px) {
  .cars {
    flex-direction: row;
    max-width: 55rem;
  }

  .cars__card {
    padding: 2.5rem;
  }

  .cars__text {
    margin-bottom: 2rem;
  }
}