* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* height: 200vh; */
  background-color: #E8E8E8;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#container {
  background-color: #ccc;
  border: 1px solid black;
  /* width: 80%;
  min-height: 300px;
  margin: 100px auto 0; 
  padding: 20px;
  border-radius: 10px; 
  position: relative; */
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  line-height: 95px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#static {
  background-color: #4caf50;
  position: static;
}

#relative {
  background-color: #ff9800;
  position: relative;
  top: 60px;
  left: 50px;
}

#absolute {
  background-color: #3639f4;
  position: absolute;
  bottom: 0;
}

#fixed {
  background-color: #9c27b0;
  position: fixed;
  bottom: 50px;
  right: 50px;;
}

#sticky {
  background-color: #b02727;
  position: sticky;
  top: 30px;
}