:root {
  --fundo-principal: #fafafa;
  --texto-principal: #1c1c1c;
  --texto-secundario: #333333;
  --destaque-principal: #6c4ad8;
  --destaque-secundario: #9a7dff;
  --fundo-card: #ffffff;
  --branco: rgba(255, 255, 255, 0.8);
  --sombra: 0 3px 12px rgba(0, 0, 0, 0.1);
  --sombra-card: 3px 3px 0 rgba(153, 125, 255, 0.38);
  --borda: 1px solid #f1f1f1;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--fundo-principal);
  transition: all 0.3s ease;
}

.header {
  background-color: var(--destaque-principal);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: var(--sombra);
}

.header__name {
  color: var(--branco);
  font-size: 1.5rem;
}

.header__nav a {
  text-decoration: none;
  color: var(--branco);
  transition: color 0.3s ease;
}

.header__nav a:hover {
  color: #fff;
}

.header__nav {
  display: none;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--branco);
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.btn:hover {
  color: #fff;
}

.nav-mobile {
  background-color: var(--fundo-card);
  padding: 2rem;
  position: fixed;
  width: 60%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
}

.nav-mobile a {
  text-decoration: none;
  color: var(--texto-principal);
}

.nav-mobile button {
  align-self: flex-end;
  color: var(--destaque-secundario);
}

.nav-mobile button:hover {
  color: var(--destaque-principal);
}

.nav-mobile.hidden {
  transform: translate(100%);
}

.nav-mobile.show {
  transform: translate(0);
}

.profile {
  margin: 1.5rem 0;
}

.profile__grid {
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  gap: 1rem;
}

.profile__sidebar {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  background-color: var(--fundo-card);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--sombra);
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

img {
  width: 100%;
}

.profile-card__image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid transparent;
  outline: 4px solid var(--destaque-principal);
}

.profile-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-card__name {
  color: var(--destaque-principal);
}

.profile-card__description {
  color: var(--texto-secundario);
  text-align: center;
  line-height: 1.6;
}

.profile-card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.profile-card__details i {
  color: var(--destaque-principal);
  font-size: 1.3rem;
}

.profile__content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
